*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.conatiner{
    max-width: 80%;
    padding: 34px;
    margin: auto;
}
.conatiner h2{
    font-size: 38px;
    text-align: center;
    font-family: 'Sriracha', cursive;
}
p{
    font-size: 17px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
input, textarea{
    
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    display: block;
}
/* to make the item allign center */
form{   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn{
    color: white;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 14px;
    background: purple;
    border: 2px solid white;
    cursor: pointer;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    
}
.msg{
    color:green;
    font-weight: bold;
}